{% extends "geonode_base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
{% trans "Automatic Identification" %}
{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{% endblock %}


{% block body %}

<div class="page-header">
    <h2 class="page-title">{% trans "Automatic Archaeological Identification" %}</h2>
</div>

<div class="container">
    <div class="col-md-8">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">{% trans "Title" %}</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <br>
            <div class="form-group">
                <label for="purpose">{% trans "Purpose" %}</label>
                <br>
                <label class="radio-inline"><input type="radio" id="inference" name="purpose" value="inference" required>Inference</label>
                <label class="radio-inline"><input type="radio" id="training" name="purpose" value="training">Training</label>
            </div>
            <br>
            <div class="form-group" id="selectedRadio">
            </div>
            <br>
            <h4>{% trans "Select the layers that you want to use:" %}</h4>
            {% for layer in layers %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="layers" value="{{layer.file}}">
                    <label class="form-check-label">{{layer.name}}</label>
                </div>  
            {% endfor %}
            <br>
            <input type="submit" value={% trans "Start" %} class="btn btn-success"/>
        </form>
    </div>
    {% if occurrences %}
        <div class="col-md-4">
        <h5>{% trans "Archaeological occurrences inside the area of interest:" %}</h5>
        <ul class="nav nav-list" style="height: 65vh; overflow: auto">
        {% for occurrence in occurrences %}
            <li><a href="{{ occurrence.get_absolute_url }}">{{ occurrence.designation }}</a></li>
        {% endfor %}
        </ul>
        </div>
        {% endif %}
</div>
<br>  
{% endblock %}

{% block extra_script%}
<script type="text/javascript">
  function getAlgOrModel(type){
    var url = ml_webservice_url + "/" + type;
    $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                return data[type];       
            }
     })
    return [];
  }
  var ml_webservice_url = "{{ ml_webservice_url }}";
  var last_selected_algorithm = "None";
  var algorithm_list = ["a"];
  var model_list = [];
  
  $(".form-group input[type='radio']").on("change", function() {
     if ($("#inference").is(':checked')) {
       //clear default infTrainForm
       //add new inference form stuff
       //add new training form stuff (dropdown(need algorithm list))
       //check if global variable (algorithm list is available) else request it with get to the odyssey_WS
       if(algorithm_list.length === 0){
         //GET REQUEST
         algorithm_list = getAlgOrModel("algorithm");
       }
       if(algorithm_list.length === 0){
         $("#inference").prop('checked', false);
       }else{
         var html_string = '<label for="algorithm">{% trans "Algorithm" %}</label><br><select name="algorithm" id="algorithm"><option value="Select Algorithm" selected disabled hidden>Select Algorithm</option>';
         for(const algorithm of algorithm_list){
           html_string = html_string + '<option value="' + algorithm + '">' + algorithm + '</option>';
         }
         html_string = html_string + '</select><div class="form-group" id="modelSelect"></div>';
         $("#selectedRadio").html(html_string);
       }
     } else if($("#training").is(':checked')) {
       //clear default infTrainForm
       //add new training form stuff (dropdown(need algorithm list) and textbox)
       //check if global variable (algorithm list is available) else request it with get to the odyssey_WS
       if(algorithm_list.length === 0){
         //GET REQUEST
         algorithm_list = getAlgOrModel("algorithm");
       }
       if(algorithm_list.length === 0){
         $("#training").prop('checked', false);
       }else{
         var html_string = '<label for="algorithm">{% trans "Algorithm" %}</label><br><select name="algorithm" id="algorithm"> <option value="Select Algorithm" selected disabled hidden>Select Algorithm</option>';
         for(const algorithm of algorithm_list){
           html_string = html_string + '<option value="' + algorithm + '">' + algorithm + '</option>';
         }
         html_string = html_string + '</select>';
         html_string = html_string + '<br><label for="model">{% trans "Model" %}</label><input type="text" class="form-control" id="model" name="model" required>'
         $("#selectedRadio").html(html_string);
       }
     }
     $("#algorithm").on("change", function(){
       if($("#inference").is(':checked')){
         if(model_list.length === 0 || last_selected_algorithm !=  $("#algorithm").val()){
           //GET REQUEST
           model_list = getAlgOrModel("algorithm");
           last_selected_algorithm = $("#algorithm").val();
         }
         if(model_list.length === 0 || last_selected_algorithm !=  $("#algorithm").val()){
           $("#inference").val("Select Algorithm").change();
         } else {
           var html_string = '<br><label for="model">{% trans "Model" %}</label><br><select name="model" id="model"><option value="Select Model" selected disabled hidden>Select Model</option>';
           for(const model of model_list){
             html_string = html_string + '<option value="' + model + '">' + model + '</option>';
           }
           html_string = html_string + '</select>';
           $("#modelSelect").html(html_string);
         }
       }
     });
   })
   
   
   
</script>
{% endblock %}
